{% macro aggregateRating(value) %}
<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
  <div class="aggregateRating" itemprop="ratingValue" content="{{ value }}">
    <div class="aggregateRating__bg"></div>
    <div class="aggregateRating__value" style="width: {{ value * 20}}%"></div>
  </div>
  <meta itemprop="ratingCount" content="11">
</div>
{% endmacro %}
