{% macro productThumb(cssClass, href, title, src, alt, active) %}
<li class="productThumb{{ cssClass }}">
  <a class="productThumb__link{{ active }}"
     href="{{ href }}"
     title="{{ title }}"
     data-gallery-thumb>
    <img class="productThumb__image"
         src="{{ src }}"
         alt="{{ alt }}">
  </a>
</li>
{% endmacro %}
