<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title %}{{ title | safe }}{% else %}Smile Test Task{% endif %}</title>
    <meta property="og:title" content="{% if title %}{{ title | safe }}{% else %}Smile Test Task{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ BASE_URL }}{{ ogUrl }}" />
    <meta property="og:image" content="{{ BASE_URL }}{{ ogImage }}" />
    <link rel="icon" href="{{ BASE_URL }}/favicon.ico">
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/css/main.min.css">
  </head>
  <body class="page">
    <header class="page__header">
      <div class="container">
        Header
      </div>
    </header>

    <main class="page__main">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="page__footer">
      <div class="container">
        Footer
      </div>
    </footer>

    <script src="{{ BASE_URL }}/assets/js/main.min.js"></script>
    {% block customScripts %}{% endblock %}
  </body>
</html>
