{% set title = "Моторное масло MOBIL 1 ESP Formula 5W-30 4л" %}
{% set ogUrl = "/index.html" %}
{% set ogImage = "/assets/img/product/product.jpg" %}
{% extends "./_base.html" %}
{% from "macros/_product-thumb.html" import productThumb %}
{% from "macros/_aggregate-rating.html" import aggregateRating %}

{% block content %}
  <div class="product" itemscope itemtype="http://schema.org/Product">
    <div class="product__header">
      <h1 class="product__name" itemprop="name">Моторное масло MOBIL 1 ESP Formula 5W-30 4л</h1>
      <meta itemprop="brand" content="MOBIL">

      <div class="product__sku">Код товара : <span itemprop="sku">39207</span></div>
    </div>

    <div class="product__body">
      <div class="product__gallery" id="product-gallery">
        <div class="productPreview">
          <img class="productPreview__image"
               src="{{ BASE_URL }}/assets/img/product/product.jpg"
               alt="Моторное масло MOBIL 1 ESP Formula 5W-30 4л - image 1"
               data-gallery-main
               itemprop="image">
        </div>
  
        <ul class="productThumbList">
          {{ productThumb(
              cssClass=' productThumbList__item',
              href=BASE_URL + '/assets/img/product/product.jpg',
              title='Моторное масло MOBIL 1 ESP Formula 5W-30 4л - image 1',
              src=BASE_URL + '/assets/img/product/product-thumb.jpg',
              alt='Моторное масло MOBIL 1 ESP Formula 5W-30 4л - thumb 1',
              active=' active'
            )
          }}
  
          {{ productThumb(
              cssClass=' productThumbList__item',
              href=BASE_URL + '/assets/img/product/product2.jpg',
              title='Моторное масло MOBIL 1 ESP Formula 5W-30 4л - image 2',
              src=BASE_URL + '/assets/img/product/product-thumb2.jpg',
              alt='Моторное масло MOBIL 1 ESP Formula 5W-30 4л - thumb 2'
            )
          }}
  
          {{ productThumb(
              cssClass=' productThumbList__item',
              href=BASE_URL + '/assets/img/product/product.jpg',
              title='Моторное масло MOBIL 1 ESP Formula 5W-30 4л - image 3',
              src=BASE_URL + '/assets/img/product/product-thumb.jpg',
              alt='Моторное масло MOBIL 1 ESP Formula 5W-30 4л - thumb 3'
            )
          }}
        </ul>
      </div>

      <div class="product__content">
        <div class="product__status">
          <div class="product__statusTitle">Нет в наличии</div>

          {{ aggregateRating(value=2.5) }}
        </div>

        <div class="product__info">
          <div class="product__price product__price--out" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <span class="product__priceValue" itemprop="price" content="456">456</span>
            <span class="product__priceCurrency" itemprop="priceCurrency" content="UAH">грн</span>
          </div>

          <div class="product__description" itemprop="description">
            Тип: Трансмиссионное масло<br>
            Тип основы масла: синтетическое масло;<br>
            SAE: 75W-80; Емкость, л: 1<br>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block customScripts %}
<script>
  productGallery('#product-gallery');
</script>
{% endblock %}

