html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  &__header {
    border-bottom: 50px solid #3c3f43;
    flex-shrink: 0;
    padding: 20px 0;
  }

  &__main {
    flex-shrink: 0;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  &__footer {
    background-color: #474a4e;
    color: #c8c9ca;
    margin-top: auto;
    padding: 50px;
  }
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: 0 15px;
}
