$mediaTablet: 992px;
$mediaDesktop: 1200px;

.product {
  &__header {
    margin-bottom: 27px;

    @media (min-width: $mediaDesktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__name {
    font-size: 34px;
    margin: 0;
  }

  &__sku {
    background-color: #ffdc2c;
    display: inline-block;
    font-size: 13px;
    margin: 9px 0 9px 7px;
    padding: 7px 14px;
    position: relative;
    vertical-align: top;

    &::before {
      content: '';
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 7px);
      left: -7px;
      width: 14px;
      height: 14px;
    }
  }

  &__body {
    @media (min-width: $mediaTablet) {
      display: flex;
    }
  }

  &__content {
    @media (min-width: $mediaTablet) {
      padding-left: 64px;
    }
  }

  &__gallery {
    margin-bottom: 20px;

    @media (min-width: $mediaTablet) {
      display: flex;
      flex-direction: row-reverse;
      flex-shrink: 0;
      width: 535px;
      margin-left: -12px;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &__statusTitle {
    font-size: 13px;
    margin-right: 30px;
  }

  &__info {
    background-color: #f7f7f9;
    font-size: 12px;
    padding: 30px;
    width: 360px;
    max-width: 100%;
  }

  &__price {
    font-size: 20px;
    margin-bottom: 1em;
    
    &--out {
      color: #999;
    }
  }

  &__priceValue {
    font-size: 40px;
    font-weight: 700;
  }

  &__description {
    color: #777;
  }
}

.productPreview {
  @media (max-width: $mediaTablet - 0.02) {
    margin-bottom: 20px;
    text-align: center;
  }

  @media (min-width: $mediaTablet) {
    width: calc(100% - 148px);
    min-height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }
}

.productThumbList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -4px 0 -5px;
  padding: 0;

  @media (min-width: $mediaTablet) {
    align-self: flex-start;
    flex-shrink: 0;
    width: 148px;
  }

  &__item {
    margin: 0 4px 9px 5px;
  }
}

.productThumb {
  &__link {
    border: 1px solid #e9eaeb;
    display: block;
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      border-color: #ffdc2c;
    }

    &.active {
      border-color: #ffdc2c;
      cursor: default;
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }
}
