.aggregateRating {
  width: 92px;
  height: 11px;
  position: relative;

  &__bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.364 20' height='11' width='20' fill='%23fff' stroke='%23ffdc2c' stroke-linejoin='round'%3E%3Cpath d='M10.005 15.89L4.47 18.946l1.059-6.473-4.475-4.585 6.179-.949 2.772-5.884 2.762 5.884 6.179.949-4.475 4.585 1.059 6.473z'/%3E%3C/svg%3E%0A");
    width: 100%;
    height: 100%;
  }

  &__value {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.364 20' height='11' width='20' fill='%23ffdc2c' stroke='%23ffdc2c' stroke-linejoin='round'%3E%3Cpath d='M10.005 15.89L4.47 18.946l1.059-6.473-4.475-4.585 6.179-.949 2.772-5.884 2.762 5.884 6.179.949-4.475 4.585 1.059 6.473z'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
